@import "utils";
@import "reset";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.people {
  padding: 0 35px;
  @include onDesktop {
    padding: 0 55px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px 30px;
    margin: 30px auto;
    justify-content: center;

    @include onDesktop {
      grid-template-columns: repeat(4, 200px);
    }
  }
}
.person {
  transition: all 1s;
  position: relative;

  &:hover {
    transition: 0;
  }

  &:hover {
    padding: 12px;
    background: $bg;
    transform: scale(132%);
    z-index: 2;
    border-radius: 12px;

    .person__extra {
      opacity: 1;
    }

    .person__extra {
      // margin: 11px 0 7px;
      text-align: center;
      transition: 0s;
      transform: translateY(10px);
    }
    .person__photo-img {
      border-radius: 60px;
      transition: 1s;
    }
  }

  &__photo {
    position: relative;

    &-img {
      border-radius: 50%;
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &__rank {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: $red;
  }

  &__details {
  }

  &__name {
    color: $gray;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  &__extra {
    color: #000;
    opacity: 0;
    pointer-events: none;
    height: 20px;
    line-height: 100%;
  }

  &__sport {
  }

  &__pay {
  }
}
